@use 'constants';

#App {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: constants.$text;
    font-weight: 300;
}

#Sidebar {
    background-color: constants.$dark_background;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 3rem;
}

#Content {
    flex-grow: 1;
    padding: 3rem;
 }

.SideItem {
    padding: 1rem 3rem 1rem 3rem;
}

.SideItem:hover {
    background-color: constants.$highlight;
}

.PageTitle {
    font-size: constants.$title_font_size;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    display: table-cell;
    border: constants.$border-width solid constants.$table-border;
    padding: 0.5rem;
}

th, td:first-child, td:last-child {
    border-left: none;
    border-right: none;
}

.Filters {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
    gap: 1rem;
}

.Icon {
    width: 2rem;
    height: 2rem;
}

input {
    background-color: constants.$input_background;
    border-width: constants.$border-width;
    border-style: solid;
    border-radius:  0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
